@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2EAE2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2EAE2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.cart-button {
  background-color: #3D8168;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #304c43;
}